.contentBanner {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  background: rgb(173 173 173 / 21%);
  padding-top: 125px;
  & > .container {
    width: 100%;
  }
}
.cnttxtSlid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  h2 {
    font-weight: 500;
    font-size: 35px;
    text-transform: none;
    text-shadow: 3px 2px #00000078;
  }
  &__description {
    color: #fff;
  }
  a.btn-lite {
    color: #fff !important;
    border-color: #fff !important;
    &:hover {
      background-color: #fff !important;
      color: #000 !important;
    }
  }
}
