<section class="sectTourisme">
  <div class="container">
    <div class="boxTourisme">
      <div class="boxTourisme__item">
        <h3 class="titleSect fontfamily1">
          Découvrez les
          <span class="fontfamily2">merveilles naturelles de Madagascar</span>
        </h3>
        <p>
          Explorez les <b>paysages époustouflants</b>, la <b>faune unique</b> et
          le <b>patrimoine culturel riche</b> qui font de Madagascar une
          destination de rêve. Des plages paradisiaques de Nosy Be aux
          spectaculaires Tsingy de Bemaraha, une aventure inoubliable vous
          attend.
        </p>
      </div>
      <div class="boxTourisme__item">
        <div class="cardCountrie">
          <picture class="cardCountrie__bg">
            <img
              src="https://www.voyagemadagascar.com/cdn/mg-public/baobab_titre-MAX-w1000h600.jpg"
              alt=""
            />
          </picture>
          <div class="cardCountrie__title">Allée de baobabs de Morondava</div>
        </div>
      </div>
      <div class="boxTourisme__item">
        <div class="cardCountrie">
          <picture class="cardCountrie__bg">
            <img
              src="https://www.voyagemadagascar.com/cdn/mg-public/tsingy-MAX-w1000h600.jpg"
              alt=""
            />
          </picture>
          <div class="cardCountrie__title">Les Tsingy de Bemaraha</div>
        </div>
      </div>
      <div class="boxTourisme__item">
        <div class="cardCountrie">
          <picture class="cardCountrie__bg">
            <img
              src="https://www.voyagemadagascar.com/cdn/mg-public/20120120_mad_makay_8_jpg-MAX-w1000h600.jpg"
              alt=""
            />
          </picture>
          <div class="cardCountrie__title">Le massif du Makay</div>
        </div>
      </div>
      <div class="boxTourisme__item">
        <div class="cardCountrie">
          <picture class="cardCountrie__bg">
            <img
              src="https://www.voyagemadagascar.com/cdn/mg-public/isalo-MAX-w1000h600.jpg"
              alt=""
            />
          </picture>
          <div class="cardCountrie__title">
            Les falaises jurassiques d'Isalo
          </div>
        </div>
      </div>
      <div class="boxTourisme__item">
        <div class="cardCountrie">
          <picture class="cardCountrie__bg">
            <img
              src="https://www.voyagemadagascar.com/cdn/mg-public/tsaranoro-MAX-w1000h600.jpg"
              alt=""
            />
          </picture>
          <div class="cardCountrie__title">
            Les massifs d’Andringitra et de Tsaranoro
          </div>
        </div>
      </div>
      <div class="boxTourisme__item">
        <div class="cardCountrie">
          <picture class="cardCountrie__bg">
            <img
              src="https://www.voyagemadagascar.com/cdn/mg-public/madagascar_titre-MAX-w1000h600.jpg"
              alt=""
            />
          </picture>
          <div class="cardCountrie__title">La nature de Madagascar</div>
        </div>
      </div>
      <div class="boxTourisme__item">
        <div class="cardCountrie">
          <picture class="cardCountrie__bg">
            <img
              src="https://kombacabana.com/wp-content/uploads/2024/06/30426179964_43b5716870_b.jpg.webp"
              alt=""
            />
          </picture>
          <div class="cardCountrie__title">Nosy Be</div>
        </div>
      </div>
      <div class="boxTourisme__item">
        <div class="cardCountrie">
          <picture class="cardCountrie__bg">
            <img
              src="https://kombacabana.com/wp-content/uploads/2024/06/CW-20180818-135347-8167.jpg.webp"
              alt=""
            />
          </picture>
          <div class="cardCountrie__title">Parc national de Masoala</div>
        </div>
      </div>
      <div class="boxTourisme__item">
        <div class="cardCountrie">
          <picture class="cardCountrie__bg">
            <img
              src="https://www.grandeslatitudes.voyage/wp-content/uploads/2023/03/Madagascar-Ranomafana-Canva-1.jpg"
              alt=""
            />
          </picture>
          <div class="cardCountrie__title">Parc national de Ranomafana</div>
        </div>
      </div>
      <div class="boxTourisme__item">
        <div class="cardCountrie">
          <picture class="cardCountrie__bg">
            <img
              src="https://jenmansafaris.com/wp-content/uploads/2021/10/Ifaty-Beach.jpg"
              alt=""
            />
          </picture>
          <div class="cardCountrie__title">Ifaty</div>
        </div>
      </div>
      <div class="boxTourisme__item boxTourisme__item--action">
        <button class="btn btn-custom">Explorez plus</button>
      </div>
    </div>
  </div>
</section>
