<section class="sectAbout">
  <div class="container">
    <img
      class="anim-about"
      src="/assets/images/beaute_madagascar/flag1.png"
      alt=""
    />
    <div class="boxAbout">
      <h3 class="boxAbout__title titleSect fontfamily1">
        A propos de <span class="fontfamily2">Madagascar</span>
      </h3>
      <p class="boxAbout__description">
        Madagascar, la quatrième plus grande île du monde, se trouve dans
        l'océan Indien, au large des côtes de l'Afrique australe. Connue pour sa
        biodiversité incroyable, environ 90 % des espèces animales et végétales
        présentes sur l'île sont endémiques, ce qui en fait un véritable trésor
        pour les biologistes et les amoureux de la nature. Les forêts tropicales
        luxuriantes abritent des lémuriens, des caméléons aux couleurs vives, et
        des plantes comme le célèbre baobab et l'orchidée de Madagascar. Le pays
        possède également une grande diversité de paysages, des montagnes
        escarpées des hauts plateaux aux plages de sable blanc bordées de
        palmiers.
        <br />
        <br />
        La culture malgache est un fascinant mélange d'influences africaines,
        asiatiques et européennes, héritage de siècles de migration et de
        commerce. Le peuple malgache, chaleureux et accueillant, est fier de ses
        traditions et de ses coutumes. Parmi celles-ci, on trouve la pratique du
        "famadihana" (retournement des morts), un rituel funéraire unique qui
        reflète le lien fort avec les ancêtres. La musique, la danse et
        l'artisanat font également partie intégrante de la vie quotidienne sur
        l'île.
        <br />
        <br />
        Madagascar est un pays de contrastes, où modernité et tradition
        coexistent, avec des villes dynamiques comme Antananarivo, la capitale,
        et des villages reculés où les anciennes coutumes sont toujours
        pratiquées. En dépit des défis économiques et environnementaux,
        Madagascar reste une destination captivante, offrant des expériences
        inoubliables, qu'il s'agisse de découvrir la richesse de la culture
        locale ou d'explorer ses merveilles naturelles.
      </p>
      <div class="boxAbout__action">
        <button class="btn btn-custom">Explorez plus</button>
      </div>
    </div>
  </div>
</section>
