.socialReseau {
  display: flex;
  align-items: center;
  gap: 15px;
  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
    a {
      display: block;
      height: 25px;
      svg {
        width: 25px;
        height: 25px;
        fill: #fff;
        stroke: #fff;
      }
    }
  }
}
