<section class="sectNatureBio">
  <div class="container">
    <div class="boxNatureHome">
      <picture class="boxNatureHome__img">
        <img
          src="assets/images/beaute_madagascar/close-up-monkey-tree.jpg"
          alt=""
        />
      </picture>
      <div class="boxNatureHome__description">
        <h3 class="titleSect fontfamily1">
          Nature et Biodiversité :
          <span class="fontfamily2">Un Trésor Préservé</span>
        </h3>
        <p>
          Explorez la richesse naturelle exceptionnelle de Madagascar, une île
          unique au monde, abritant une biodiversité impressionnante. Découvrez
          des espèces rares, des paysages époustouflants, et engagez-vous dans
          la préservation de cet écosystème fragile
        </p>
        <button class="btn btn-lite btn-outline">Découvrir la Nature</button>
      </div>
    </div>
  </div>
</section>
