@use "../commons/" as *;

#sectFooter {
  .footerIntern {
    @include padding(3rem 0);
    a {
      color: $white;
      &:hover {
        color: $color-primary2;
      }
    }
    .logoFooter {
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left;
      }
    }
    .titleFooter {
      font-size: 20px;
      font-weight: $bold;
      margin-bottom: 10px;
      color: $white;
    }
    .txtFooter {
      color: $white;
    }
    .cntFooter {
      grid-gap: 90px;
    }
    .navFooter {
      ul {
        @include resetList();
      }
      li {
        margin-bottom: 7px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .listLink {
      display: flex;
      align-items: center;
      grid-gap: 15px;
    }
  }
  .footerCopyright {
    @include font-size(1.2rem);
    .cntCopyright {
      border-top: 1px solid transparent;
      @include padding(2rem 0);
      display: flex;
      grid-gap: 10px;
      justify-content: space-between;
      @include max(635px) {
        flex-direction: column;
        text-align: center;
      }
    }
    .logoHeart {
      width: 15px;
      position: relative;
      top: 3px;
    }
  }
}
.titleSubFooter {
  color: $white;
  a {
    color: $white;
  }
}
