/* You can add global styles to this file, and also import other style files */
@use "./assets/scss/main.scss";
.setBanniere {
  .slick-prev {
    left: 50px;
    z-index: 2;
    top: calc(50% + 50px);
    &::before {
      font-size: 35px;
    }
  }
  .slick-next {
    right: 50px;
    z-index: 2;
    top: calc(50% + 50px);
    &::before {
      font-size: 35px;
    }
  }
}
